includes:
    - phpstan-baseline-level6.neon

parameters:
    level: 6
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
          paths:
              - config/*
              - src/config/*
