parameters:
	ignoreErrors:
		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeFinal\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeFinal\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeFiscalYear\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeFiscalYear\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeProformas\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeProformas\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeRectificatives\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeRectificatives\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeSerie\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeSerie\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeStatus\(\) has parameter \$query with generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:scopeStatus\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\InvoiceItem has PHPDoc tag @property for property \$metadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeGoods\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeGoods\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeServices\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeServices\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeWithServiceDates\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:scopeWithServiceDates\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\InvoiceSeriesControl has PHPDoc tag @property for property \$validation_rules with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\InvoiceSeriesControl uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Class App\\Models\\User not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeFiscalYear\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeFiscalYear\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopePrefix\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopePrefix\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeSerie\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:scopeSerie\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceSeriesControl\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Models/InvoiceSeriesControl.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\TaxCategory has PHPDoc tag @property for property \$metadata with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\TaxCategory uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:invoiceItems\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeCountry\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeCountry\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeOrdered\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeOrdered\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeRegion\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeRegion\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeTaxType\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\TaxCategory\:\:scopeTaxType\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/TaxCategory.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\UnitMeasure uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:invoiceItems\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\HasMany does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeActive\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeActive\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeCategory\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeCategory\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeOrdered\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Models/UnitMeasure.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\UnitMeasure\:\:scopeOrdered\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Models/UnitMeasure.php
