parameters:
	ignoreErrors:
		-
			message: '#^Property AichaDigital\\Larabill\\Models\\FiscalSettings\:\:\$current_eu_sales_amount \(int\) does not accept float\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Models/FiscalSettings.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$immutable_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$is_immutable\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/Invoice.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Class AichaDigital\\Larabill\\Models\\Invoice uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\Invoice\:\:newEloquentBuilder\(\) return type with generic class AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/Invoice.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:newEloquentBuilder\(\) return type with generic class AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Method AichaDigital\\Larabill\\Models\\InvoiceItem\:\:uuidColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Models/InvoiceItem.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$due_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$payment_terms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$template_name\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$vat_verification\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/BillingService.php

		-
			message: '#^Unable to resolve the template type TCacheValue in call to method Illuminate\\Cache\\Repository\:\:remember\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/CacheService.php

		-
			message: '#^Unable to resolve the template type TCacheValue in call to method Illuminate\\Cache\\Repository\:\:rememberForever\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Services/CacheService.php

		-
			message: '#^Property AichaDigital\\Larabill\\Models\\FiscalSettings\:\:\$current_eu_sales_amount \(int\) does not accept float\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Services/DestinationVatService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$is_roi_taxed\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/EuSalesThresholdService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$number\.$#'
			identifier: property.notFound
			count: 5
			path: src/Services/EuSalesThresholdService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/EuSalesThresholdService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_tax_info_encrypted\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/EuSalesThresholdService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$due_date\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$fiscal_data\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$number\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$tax_amount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$total\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_tax_info_encrypted\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$vat_verification\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DefaultPDFConnector.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$notes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$payment_terms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$subtotal\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$tax_amount\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$template_name\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$total\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$type\.$#'
			identifier: property.notFound
			count: 4
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 2
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Access to an undefined property AichaDigital\\Larabill\\Models\\Invoice\:\:\$user_tax_info_encrypted\.$#'
			identifier: property.notFound
			count: 1
			path: src/Services/PDF/DomPDFService.php

		-
			message: '#^Method AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder\:\:where\(\) should return \$this\(AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\) but returns static\(AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\)\.$#'
			identifier: return.type
			count: 3
			path: src/database/Query/BinaryUuidBuilder.php

		-
			message: '#^Method AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder\:\:whereIn\(\) should return \$this\(AichaDigital\\Larabill\\Database\\Query\\BinaryUuidBuilder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\) but returns Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: return.type
			count: 1
			path: src/database/Query/BinaryUuidBuilder.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/database/Query/BinaryUuidBuilder.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/database/Query/BinaryUuidBuilder.php
