<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="AichaDigital Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <!-- Exclude database migrations, seeders, and factories -->
            <directory>./src/database</directory>
            <!-- Exclude Blade templates -->
            <directory>./resources</directory>
            <!-- Exclude configuration files -->
            <directory>./src/config</directory>
            <!-- Exclude service provider (mostly boilerplate) -->
            <file>./src/LarabillServiceProvider.php</file>
            <!-- Exclude facade (mostly boilerplate) -->
            <file>./src/Facades/Larabill.php</file>
            <!-- Exclude main Larabill class (mostly boilerplate) -->
            <file>./src/Larabill.php</file>
        </exclude>
    </source>
</phpunit>
